Repository vishwas-droid/swarm-external-secrets: changes, and which lefthook commands are due for each by the changed paths.
All: go-tidy, go-fmt, go-vet, golangci-lint, gosec, eof-newline

go-tidy:
  run: go mod tidy && git add go.mod go.sum

go-fmt:
  run: "for file in {staged_files}; do\n  go fmt \"$file\"\n  git add \"$file\"\ndone\n"

go-vet:
  run: go vet ./...

golangci-lint:
  run: golangci-lint run ./... --timeout 10m
  skip:
  - run: test "$CI" = "true"

gosec:
  run: gosec ./...

eof-newline:
  help: Fail when a staged file does not end with a POSIX newline
  stage_fixed: true
  ...

fix: avoid error shadowing in secret update error handling (#45)
  driver.go
Due: go-tidy, go-fmt

fix: handle versioned secret names during rotation
  driver.go
Due: go-tidy, go-fmt

fix: prevent panic by rejecting non-positive durations
  utils.go
Due: go-tidy, go-fmt

improve secret rotation scalability by updating only tracked services
  driver.go
Due: go-tidy, go-fmt

fix: avoid taking address of range variable when locating existing secret
  driver.go
Due: go-tidy, go-fmt

fix(azure): safely select latest versioned secret using prefix and CreatedAt
  driver.go
Due: go-tidy, go-fmt

docs: Establish guidelines for Generative AI usage
  CONTRIBUTING.md
Due: none

Update driver.go
  driver.go
Due: go-tidy, go-fmt

refactor: remove unused SecretInfoAzure struct
  providers/azure.go
Due: go-tidy, go-fmt, go-vet, golangci-lint, gosec, eof-newline

fix(openbao): use explicit KV version instead of mount name assumption
  providers/openbao.go
Due: go-tidy, go-fmt, go-vet, golangci-lint, gosec, eof-newline

Prevent potential runtime panic in OpenBao provider by adding safe type assertion
  providers/openbao.go
Due: go-tidy, go-fmt, go-vet, golangci-lint, gosec, eof-newline

Improve error wrapping and harden boolean env parsing
  driver.go
  providers/aws.go
  providers/gcp.go
  providers/openbao.go
  providers/vault.go
Due: go-tidy, go-fmt, go-vet, golangci-lint, gosec, eof-newline

Refactor SecretsDriver for improved error handling
  driver.go
Due: go-tidy, go-fmt

Apply gofumpt formatting
  driver.go
Due: go-tidy, go-fmt

feat(smoke-tests):Add initial Vault smoke test framework and fix plugin entrypoint mismatch (#27)
  .github/workflows/smoke-tests.yml
  .makim.yaml
  config.json
  driver.go
  providers/aws.go
  providers/openbao.go
  providers/vault.go
  scripts/demo-rotation.sh
  scripts/tests/smoke-openbao-compose.yml
  scripts/tests/smoke-test-helper.sh
  scripts/tests/smoke-test-openbao.sh
  scripts/tests/smoke-test-vault.sh
  scripts/tests/smoke-vault-compose.yml
Due: go-tidy, go-fmt, go-vet, golangci-lint, gosec, eof-newline

refactor: replace negative secret reuse naming with positive naming for clarity
  driver.go
Due: go-tidy, go-fmt

refactor: replace negative secret reuse naming with clear positive naming and improve comments
  driver.go
Due: go-tidy, go-fmt

refactor: replace negative secret reuse naming with clear positive naming and concise comments
  driver.go
Due: go-tidy, go-fmt

aws: add SecretBinary support, make JSON extraction deterministic, and unify rotation logic
  providers/aws.go
Due: go-tidy, go-fmt, go-vet, golangci-lint, gosec, eof-newline

Refactor Get method to include request UUID
  driver.go
Due: go-tidy, go-fmt

test: add rotation in AWS smoke test using base64 encoded SecretBinary
  scripts/tests/smoke-test-awssm.sh
Due: eof-newline

deploy: 137ce19e325ac40010bd83346fed85800fc27a02
  404.html
  CONTRIBUTING/index.html
  debugging/index.html
  monitoring/index.html
  multi-provider/index.html
  readme/index.html
  rotation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: eof-newline

Revert "fix: broken links and setup (#126)"
  CONTRIBUTING.md
  conda/dev.yaml
  docs/gcp.md
  readme.md
Due: eof-newline

Path conditions:
  go-tidy: any of: {go.mod,*.go}
  go-fmt: any of: *.go
  go-vet: any of: **/*.go
  golangci-lint: any of: **/*.go
  gosec: any of: **/*.go
  eof-newline: any of: **/*.{go,sh,md,yml,yaml,json,txt}
